/* NavBar.module.css */
.navLink {
    color: #fff;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none; /* Remove underline */
    display: inline-block;
  }

  .navLinkSocial {
    color: #fff;
    cursor: pointer;
    padding-right: 30px;
    text-decoration: none; /* Remove underline */
    display: inline-block;
  }

  .navBalance {
    color: #fff;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
  }

  @media (max-width: 1000px) {
    .navLink {
      color: #fff;
      cursor: pointer;
      padding-left: 0px;
      padding-right: 40px;
    }
    .navLinkSocial {
      color: #fff;
      cursor: pointer;
      padding-left: 0px;
      padding-right: 40px;
      text-decoration: none; /* Remove underline */
    }
  }