.solutionSection {
  padding-top: 100px; /* Adjust the value as needed */
}

.rowSpace {
  padding-bottom: 5%;
}

.loginButton {
  margin-left: auto !important;
}

.navBalance {
  color: #fff;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
}

.backgroundContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.backgroundImage {
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Black background with 90% opacity */
}

.backgroundText {
  position: absolute;
  color: white; /* Text color */
  font-weight: bold;
}

.centeredText {
  padding-bottom: 5%;
  text-align: center;
}

.centeredTextFeed {
  text-align: center;
}

.centeredTextUPCreationBox {
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  text-align: center;
}

.centeredTextUPCreationTitle {
  font-size: 1rem;
  font-weight: bold;
}

.centeredTextUPCreationImage {
  max-width: 100px;
  margin-left: 20px;
}

@media screen and (max-width: 4000px) {
  .backgroundImage {
    min-height: 800px;
  }

  .backgroundText {
    top: 55%;
    left: 45%;
    transform: translate(-70%, -40%);
    font-size: 40.5px;
  }
}

@media screen and (max-width: 2600px) {
  .backgroundImage {
    min-height: 800px;
  }

  .backgroundText {
    top: 55%;
    left: 45%;
    transform: translate(-70%, -40%);
    font-size: 32.5px;
  }
}

@media screen and (max-width: 1200px) {
  .backgroundImage {
    min-height: 400px;
  }

  .backgroundText {
    top: 60%;
    left: 45%;
    transform: translate(-60%, -80%);
    font-size: 20.5px;
  }
}

@media screen and (max-width: 600px) {
  .backgroundImage {
    min-height: 400px;
  }

  .backgroundText {
    top: 70%;
    left: 45%;
    transform: translate(-60%, -80%);
    font-size: 14.5px;
  }
}
