.rowSpace {
  padding-bottom: 2%;
  padding-top: 2%;
}

/* Spinner Container */
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Error Message */
.errorMessage {
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}